html, body {
    height: 100%;
    margin: 0;
    background-color: #ffd6d6; 
}

body {
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
}

.font-serif {
    font-family: 'Playfair Display', serif;
}
        
.nav-link {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #000 !important;
}
        
        
.service-description {
    font-size: 0.85rem;
    line-height: 1.3;
    color: #555; 
}

        
.service-img {
    height: 350px;
    object-fit: cover; 
     width: 100%;
}